@charset "utf-8";

// If need, change your variables before importing Bulma


@import "~bulma/bulma.sass";

h1 {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}